<a href="https://colab.research.google.com/github/kamnsv/datawagon2/blob/main/DataWagon_2_3_WagonWizards.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Окружение

In [1]:
#@title Импорт библиотек
import os
import pyarrow.parquet as pq
import pandas as pd

# Датасет

In [2]:
#@title Общий датасет

path = 'train_1'
# Список файлов Parquet
file_paths = [x for x in os.listdir(path) if x.endswith('.parquet')]

# Чтение данных из каждого файла
dfs = [pq.read_table(path + os.sep + fname).to_pandas() for fname in file_paths]

# Объединение данных
df = pd.concat(dfs, ignore_index=True)

# Вывод общего DataFrame
df

,plan_date,wagnum,date_kap,date_dep,kod_vrab,date_pl_rem,id_road_disl,st_id_dest,id_road_dest,st_id_send,...,date_iskl,cnsi_probeg_dr,cnsi_probeg_kr,kuzov,telega,tormoz,tipvozd,tippogl,norma_km,ownertype
0,2022-08-01,1071.0,NaT,2020-02-16,0.0,2023-02-16,42.0,22.0,42.0,11470.0,...,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
1,2022-08-02,1071.0,NaT,2020-02-16,0.0,2023-02-16,42.0,11663.0,0.0,11470.0,...,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
2,2022-08-03,1071.0,NaT,2020-02-16,0.0,2023-02-16,42.0,11663.0,0.0,11470.0,...,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
3,2022-08-04,1071.0,NaT,2020-02-16,0.0,2023-02-16,42.0,11663.0,0.0,11470.0,...,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
4,2022-08-05,1071.0,NaT,2020-02-16,0.0,2023-02-16,42.0,11663.0,0.0,11470.0,...,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12769394,NaT,18766.0,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,110,160,2,9,2,7,12,160000,0.0
12769395,NaT,18769.0,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,110,160,2,9,2,7,12,160000,0.0
12769396,NaT,18899.0,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,110,160,2,9,2,7,11,160000,0.0
12769397,NaT,18912.0,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,110,160,2,9,2,7,11,160000,0.0
12769398,NaT,18914.0,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,110,160,2,9,2,7,11,160000,0.0